/* pages/Home.module.css */

.homeContainer {
  display: flex;
  height: 100vh;
  background: #373737;
}

.content {
  background: #373737;
  flex: 1;
  padding: 20px; /* Padding for main content */
}

.userDetails {
  width: 20%; /* Width of UserDetails component */
  padding: 20px; /* Padding for UserDetails */
}
