/* components/ProfileSection.module.css */

.profileContainer {
  padding: 20px;
  border-bottom: 1px solid #ccc; /* White line separator */
}

.profileBox {
  display: flex;
  length: 50%;
  height: 20%;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
