/* src/app/page.module.css */

.container {
  display: flex;
  height: 100vh;
  background: linear-gradient(to right, rgb(255, 221, 0), rgb(220, 220, 220));
}

.asciiArt {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.registrationForm {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
}
