/* src/app/page.module.css */

.container {
  display: flex;
  height: 100vh;
  background: linear-gradient(to right, rgb(251, 255, 0), rgb(0, 255, 204));
}

.asciiArt {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Adjust padding for spacing around ASCII art */
}

.registrationForm {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff; /* Example background color for the form area */
  padding: 20px; /* Adjust padding for spacing around registration form */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
